.App {
  text-align: center;
}

a.social {
  color: white;
}

a.social:hover {
  color: #3273dc;
}

.socials {
  padding-bottom: 17px;
}

.aboutMe {
  margin: auto;
  max-width: 36em;
}

.tags-container {
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tag:not(:last-child) {
  margin-right: .5rem;
}

Section {
  padding: 2rem 1.5rem;
}

.skill-item {
  margin: 1em 6em 0 6em;
}

progress:before {
  content: attr(data-label);
  font-size: 0.9em;
  font-weight: bold;
  vertical-align: 0;
  position: absolute;
  left: 0;
  right: 0;
}